<%- include('../partials/header') %>


<div class="container d-flex flex-column flex-md-row justify-content-center mt-5 bg-dark col-md-5" id="holder">
	<form class="col-md-8">

		<div class="mb-2">
			<label for="exampleInputEmail1" class="form-label">Author</label>
			<input type="text" class="form-control" id="author" name="author">
		</div>

		<div class="mb-2">
			<label for="exampleInputEmail1" class="form-label">Title</label>
			<input type="text" class="form-control" id="title" name="title">
		</div>

		<div class="mb-2">
			<label for="exampleInputEmail1" class="form-label">Number of Pages</label>
			<input type="number" class="form-control" id="pages" name="pages">
		</div>

		<div class="mb-2">
			<label for="exampleInputEmail1" class="form-label">Genre</label>
			<input type="text" class="form-control" id="genre" name="genre">
		</div>

		<p>
			<%= errorMsg %>
		</p>
		<button type="submit" class="btn btn-primary">Add Book</button>
	</form>

</div>


	<%- include('../partials/footer') %>