body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#holder {
  border-radius: 5px;
  padding: 3vmin 0 3vmin 0;
  color: white;
}

#icon {
	background-color: white;
	width: 4.5vmin;
	height: 4.5vmin;
	border: solid .5vmin white;
	border-radius: 1vmin;
	text-align: center;
}