body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#holder {
  border-radius: 5px;
  padding: 3vmin 0 3vmin 0;
  color: white;
}

#icon {
  width: 4.5vmin;
  height: 4.5vmin;
  fill: rgb(34, 37, 41)
  }
  